.link-button {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    background-color: var(--color-blue);
    color: #fff;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 25px;
    transition: all .3s;
    width: max-content;
    display: block;
}

.link-button:hover {
    color: var(--color-blue);
    background-color: #fff;
    border-color: var(--color-blue);
    cursor: pointer;
}