.contest-card-container {
    width: 300px;
    overflow: hidden;
    margin: 10px auto;
    border-radius: 10px;
    transition: .3s ease;
    height: fit-content;
}

.contest-poster {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: .3s ease;
    z-index: 50;
}

.contest-card-container:hover .contest-poster {
    filter: grayscale(0%);
}

.contest-card-container:hover {
    scale: 1.01;
    box-shadow: 0p 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.btn-container {
    display: block;
    text-decoration: none;
    background-color: var(--color-violet);
    color: #fff;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    display: grid;
    place-items: center;
    z-index: 40;
    border: 1px solid transparent;
    border-radius: 0px 0px 10px 10px;
    filter: grayscale(100%);
    transition: .3s ease;
    font-weight: 600;
}

.btn-container:hover {
    background-color: #fff !important;
    color: var(--color-violet) !important;
    border-color: var(--color-violet) !important;
}

.contest-card-container:hover .btn-container {
    filter: grayscale(0%);
    background-color: var(--color-violet);
    color: #fff;
}