.team-mem-card-container {
    width: 295px;
    height: max-content;
    background-color: var(--color-violet);
    overflow: hidden;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    border: 5px solid var(--color-black);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.team-mem-card-container:hover {
    box-shadow: 5px 5px 0px var(--color-violet);
    cursor: pointer;
}

.team-mem-card-container:hover .team-mem-image-container > .team-img {
    transform: rotate3d(1, 5, 1, 360deg);
}

.team-mem-image-container {
    width: 150px;
    margin: 10px auto;
}


.team-img {
    width: 150px;
    height: 150px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
    display: block;
    user-select: none;
    transition: .3s ease;
    object-fit: cover;
}


.team-mem-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.team-mem-social-link {
    display: flex;
    justify-content: space-evenly;
}

.team-mem-name {
    font-size: 1.1rem;
    font-weight: 500;
}

.team-mem-role {
    font-size: .9rem;
    font-weight: 400;
}