.podcast-conatainer iframe {
    max-width: 95%;
    min-width: 50%;
    height: 200px;
    margin: 10px auto;
    display: block;
}

.podcast-conatainer:nth-child(1) {
    display: grid;
    place-items: center;
    margin: -10px auto
}

.podcast-conatainer {
    margin: -30px auto;
    display: grid;
    place-items: center;
    height: max-content;
}
