.p2p-card-container {
    width: 290px;
    height: max-content;
    padding: 5px;
    border-radius: 10px;
    background-color: #0D0D0D;
    color: #fff;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    z-index: 10;
}

.domain-mentor-photo-container {
    min-width: 97%;
    overflow: hidden;
    margin: 1px auto;
    border-radius: 10px;
    padding: 5px  10px;
}

.domain-mentor-name-container {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    height: 70px;
    display: grid;
    place-items: center;
}

.p2p-card-head-container {
    height: 50px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

.mentor-photo {
    width: 295px;
    height: 295px;
    display: block;
    margin: 1px auto;
    object-fit: cover;
    scale: 1;
}

.domain-whatspp-link {
    text-decoration: none;
    display: block;
    width: 90%;
    height: 50px;
    display: grid;
    place-items: center;
    color: #fff;
    font-weight: 600;
    background-color: #25D366;
    border-radius: 25PX;
    margin: 5px auto;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: .3s ease;
}

.domain-whatspp-link::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: -500%;
    z-index: 5;
    border-radius: 25px;
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);

}

.domain-whatspp-link span {
    position: relative;
    z-index: 10;
}

.domain-whatspp-link:hover.domain-whatspp-link::before {
    left: 0%;
}

.domain-whatspp-link:hover {
    color: #000 !important;
}
/* Mentor Profile */

.domain-mentor-list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.domain-mentor-list-container::-webkit-scrollbar {
    scrollbar-width: none;
}

.text-small {
    width: 100%;
    font-size: .7rem;
    font-weight: 200;
    text-align: center;
    display: block;
}

/* Outer-card */

.p2p-card-outer-container {
    width: 300px;
    /* height: 300px; */
    padding: 5px;
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto;
    z-index: 0;
    overflow: hidden;
}

.square {
    width: 200%;
    height: 160%;
    position: absolute;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    animation: rotateBg 5s linear 0s infinite  ;
}

@keyframes rotateBg {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}